html {
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom right, #e7e1da, #9e829c);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    color: #3a3e3b;
}

button {
    background-image:radial-gradient(#fefefe, rgb(235, 230, 226));
    border-style:none;
    
    margin: auto;
    border-radius: 30px;
    font-size: 1.75em;
    min-width: 30%;
    min-height: 15%;
    padding: 0.5%;
    opacity: 0.6;
}

button:hover {
    opacity: 0.5;
}

.pp {
    text-align: center;
    margin-bottom: 5%;
}

#profilepicture {
    text-align: center;
    border-style: solid;
    border-radius: 50%;
    width: 15%;
    height: 15%;
}

#icon {
    text-align: center;
    border-style: solid;
    border-radius: 50%;
}

.button-container-home {
    flex-wrap: wrap;
    display: flex;
}

.button-item {
    flex: 100%;
    text-align: center;
    min-width: 35%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.box-container {
    text-align: center;
}

.break {
    flex: 100%;
}

label, input {
    display: block;
}

input {
    min-width: 30%;
    margin: auto;
    border-radius: 5px;
    padding: 0.5%;
}
.input-container {
    text-align: center;
    flex-wrap: wrap;
    display: flex;
}

.input-item {
    flex: 100%;
    min-width: 35%;
    margin-top: 3%;
    margin-bottom: 3%;
}

@media screen and (max-width:700px) {
    #profilepicture {
        min-width: 60%;
        min-height: 60%;
    }

    button {
        min-width: 90%;
        padding: 5%;
        font-size: 1.45em;
    }

    .button-item {
        min-width: 70%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    label, input {
        display: block;
    }

    input {
        min-width: 75%;
        margin: auto;
        border-radius: 5px;
    }
    .input-container {
        text-align: center;
        flex-wrap: wrap;
        display: flex;
    }

    .input-item {
        flex: 100%;
        min-width: 35%;
        margin-top: 3%;
        margin-bottom: 3%;
    }

}